<div class="elastic-container">
  <div class="full">
    <article class="">
      {{#if image}}
      <div class="image-box">
        <img src="{{image}}" />
      </div>
      {{/if}}
      <h2>Tag - {{tag.name}}</h2>
      <p>{{tag.description}}</p>
    </article>
  </div>
</div>
