{{!< moth}}

  {{#is "tag"}}
    {{> 'tag-header'}}
  {{/is}}

    <div class="elastic-container">
      <div class="full">
        {{#foreach posts}}
        <article class="{{post_class}}">
          {{> 'post-header'}}
          <p>{{excerpt}}</p>
          <p><a href="{{url}}">Read More &rarr;</a></p>
        </article>
        {{/foreach}}
      </div>

      <!-- Ghost page pagination for the index -->
      {{pagination}}

    </div>

    <div class="elastic-container">
      <div class="full">
      <footer><p>Footer</p></footer>
      </div>
    </div>
