<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MothBlog</title>
    {{ghost_head}}
    <link rel="stylesheet" href="/assets/main.css" media="screen" charset="utf-8">
  </head>
  <body>

    <div class="elastic-container">
      <header class="full">
        <ul class="menu">
          <li><a href="#">Podcast</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <h1><a href="#">kow.fm</a></h1>
        <p class="blog-description">An exploration of how long it will take me to actually make money off of the internet. Seriously I don’t understand what it is but I just can’t seem to do it. </p>
      </header>
    </div>

    {{{body}}}
    {{ghost_foot}}
  </body>
</html>
