/*Base Styles go here*/

html, body {
  padding:0px;
  margin:0px;
  background-color:#FAFAFA;
}


/*Base Type and colors*/
$type-margins: 0rem 0rem 1rem 0rem;
$link-color: #0000ff;
$font-color: #000000;
$date-color: #818181;
$sans-font: 'Noto Sans', helvetica, sans-serif;
$serif-font: 'Noto Serif', arial, serif;

h1, h2, h3, h4, h5, h6, p, span, blockquote, li {
  display: block;
  font-family: $sans-font;
  font-size:16px;
  font-weight: 300;
  font-style:normal;
  color:$font-color;
  margin:$type-margins;
  text-align:left;
}

a {
  font-size:inherit;
  font-family: $sans-font;
  color: $link-color;
  text-decoration:underline;

  &:hover {
    text-decoration:none;
  }

  &:visited {
    color: $link-color;
  }
}
