/*Article Styles*/
article {

  border-bottom: 1px solid $header-color;
  margin-bottom:1.5rem;

  /* Headers */
  h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin:$type-margins;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: $header-color;
    text-decoration:none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $header-color;
    }
  }
  h1 {
    font-size:2.5rem;
    font-weight: 700;
    line-height:2.5rem;
  }
  h2 {
    font-size:2rem;
    font-weight: 700;
    line-height:2rem;
  }
  h3 {
    font-size:1.75rem;
    font-style:italic;
    font-weight: 300;
    line-height:2rem;
  }
  h4 {
    font-size:1.5rem;
    font-weight: 300;
    font-style:italic;
    line-height:2rem;
  }
  h5 {
    font-size:1.25rem;
    font-weight: 300;
    line-height:2rem;
  }
  h6 {
    font-size:1rem;
    font-weight: 300;
    line-height:2rem;
  }

  h2 + .date {
    display:block;
    margin-top:-2rem;
    font-size:0.8rem;
    color:$date-color;
  }

  /* Paragraphs */
  p {
    font-size:1rem;
    font-style:normal;
    margin:$type-margins;
    line-height:1.5rem;

    strong {
      font-weight: 600;
    }
    em {
      font-style:italic;
    }

  }


  /* Lists */
  ul, ol {
    padding-left:20px;
    margin:$type-margins;

    li {
      margin-bottom:5px;
      display:list-item;
    }
    ul {
      margin-bottom:0px;
    }
  }

  ul li, ul {
    list-style-type: circle;
    list-style-position: inside;
  }
  ol li, ol {
    list-style-type: decimal;
    list-style-position: inside;
  }


  /* Asides */
  aside {
    display:inline-block;
    float:right;
    width:33%;
    margin-left:20px;

    &, p {
      font-family: $serif-font;
    }

  }

  /* BlockQuotes */
  blockquote {
    font-size: 1.5rem;
    padding-left:20px;
    box-sizing:border-box;
    border-left: 10px solid $font-color;
  }

  /* images */
  img {
    width:100%;
    display: block;
    margin-bottom:1.5rem;
  }

  .image-box {
    width:100%;
    display:block;
    max-height: 300px;
    overflow: hidden;
    margin-bottom:1.5rem;
    img {
      width: 100%;
      display: block;
      margin-bottom:0rem;
    }
  }

  /* Horizontal Rules */
  hr {
    border:1px solid $font-color;
    margin:1rem 0rem;
  }

  /*the last element*/
  & > *:last-child {
      margin-bottom:1.5rem;
  }
  
  /* pre wrapped code tags */
  
  pre code {
    width: 100%;
    background-color: #EBEBEB;
    display: block;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9rem;
  }

}
